# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset files (CSV, Excel, etc.)
*.csv
*.xlsx
*.xls

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/